[submodule "xash3d-fwgs"]
	path = xash3d-fwgs
	url = https://github.com/yohimik/xash3d-fwgs.git
[submodule "hlsdk-portable"]
	path = hlsdk-portable
	url = https://github.com/yohimik/hlsdk-portable.git
[submodule "cs16-client"]
	path = cs16-client
	url = https://github.com/yohimik/cs16-client.git
