[submodule "xash3d-fwgs"]
	path = xash3d-fwgs
	url = git@github.com:yohimik/xash3d-fwgs.git
[submodule "hlsdk-portable"]
	path = hlsdk-portable
	url = git@github.com:yohimik/hlsdk-portable.git
[submodule "cs16-client"]
	path = cs16-client
	url = git@github.com:yohimik/cs16-client.git
[submodule "tf15-client"]
	path = tf15-client
	url = git@github.com:yohimik/tf15-client.git
